:host {

    display: block;
    background-image: url("/assets/img/FRONT 5.png");

}

.progressBar {
    position: absolute;
}

.loignModel {
    height: 335px;
    position: absolute;
    top: 136px;
    left: 884px;
    width: 400px;
    padding: 30px;
    box-shadow: 1px 0px 0px 2px grey;
    background-color: transparent;
    border-radius: 15px;
    margin-left: -50px;
    ;
}

.lText {
    color: blue;
    text-align: center;
    font-size: 16px;
}

.errorMsg {
    color: red;
    text-align: center;
}

input {
    border: none
}

.objImg {
    height: 70px;
    ;
    width: 70px;
    position: absolute;
    top: -30px;
    left: 158px;
    border: 2px solid;
    border-radius: 50%
}

button {
    width: 100%;
}