.card{
    background-color: green;
    text-align: center;
    position: fixed;
    width: 264px;
    height: 39px;
    border-radius: 46;
    border: 1px solid;
    border-radius: 4px;
    // color: white
}