.chartArea{
    margin-top: 0px;
    // border: 1px solid black;
    width: 99%;
    // height: 100%;
    // overflow-y: scroll;
    margin-left: 300px;
    height: 300px;
    position: absolute;
}

.infoMessageArae{
  animation-name: infoAnimation;
  animation-duration: 4s;
  color: blueviolet;
  
}
@keyframes infoAnimation {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
* {
    box-sizing: border-box;
  }
  

  
  .zoom:hover {
    -ms-transform: scale(0.5); /* IE 9 */
    -webkit-transform: scale(0.5); /* Safari 3-8 */
    transform: scale(1.5); 
    z-index: 8000;
    display: inline-block;
    margin-top: 50px;
  }