<div class="chartArea">
  <h1>Ranjan</h1>
    <div class="col-sm-11">
        <!-- <div style="text-align: center;font-size: 20px"><b><u>Elite Academy Patna</u></b></div> -->
        <!-- <div style="text-align: center;font-size: 20px"><b><u>Pro- Chandan Kumar</u></b></div>
        <div style="text-align: center;font-size: 20px"><b><u>Developed By-Ranjan Kumar Jha</u></b></div> -->
      
      <div class="col-sm-6" >
        
                <!-- <p-chart type="pie" [data]="data"></p-chart>
        -->
       
      </div>
      <div class="col-sm-6">
        <!-- <p-chart type="bar" [data]="dataBar"></p-chart> -->
      </div>
      <div class="col-sm-6">
        <!-- <p-chart type="doughnut" [data]="data"></p-chart> -->
      </div>
      <div class="col-sm-6">
      
        <!-- <p-chart type="polarArea" [data]="dataPolarChart"></p-chart> -->
      
      </div>
      </div>
</div>