.m-l-15{
    margin-left: 15px;
};
.headerSection{
    // height: 60px;
    width: 97%;
    margin-left: 40px;
    font-size: 16px;
    
}
.mainRegistrationFormDiv{
    margin-left: 80px;;
    height: 370px;
    overflow-y: scroll;
    width: 100%;
}
.mindetoryFied{
  font-size: 20px;
  color: red;
 
}
.errorMessage{
    text-align: center;
    color: red;
    font-size: 14px;
}
.proressArea{
    position: absolute;
    left: 508px;
    top: 199px;
}

.errorMs{
    color: red;
    margin-left: 15px;
    margin-top: 15px;
}
// .m-t-15{
// margin-top: 10px
// }

.m-t-40{
    margin-top: 30px
}
.mainDiv{
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden
    
    
    
}
.imgArea{
    height: 100px;
    width: 100px;
    border: 1px solid #8888
}
.registrtionNumberShow{
    height: 200px;
    width: 200px;
    border: 1px solid;
    position: absolute;
    top: -50px;
    z-index: 70000
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#8888;
    color: white;
    text-align: center;
 }
 .xyz .col-sm-6{
  width: 38%;
 }
 .confirmMessage{
     position: absolute;
     top: 530px;
     left: 1000px;
     z-index: 5000
 }
 .printForm{
     border: 1px solid;
     margin: 10px;
     height: 500px;
 }