<form [formGroup]="formroup">
<div class="proressArea">
    <!-- <app-progress  message="Saving"></app-progress> -->
  </div>
  
  <!-- <button (click)="onCickPrint()">Print</button> -->
  <!-- <div class="registrtionNumberShow">
    <div *ngIf="objData.firstName">
      Your Registration Number is:{{objData.firstName| uppercase}}{{rDate}}
    </div>
  </div> -->
  <!-- <div   class="mainDiv">
    <div class=" col-sm-12 headerSection m-t-15">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <p style="color: red;"><u><b>Student Registration Form</b></u></p>
        <div *ngIf="errorMessage" class="errorMessage">
          <u> {{errorMessage}}</u>
        </div>
      </div> -->
  
      <!-- <div>
         
      </div> -->
    <!-- </div> -->
  
   <div class="mainRegistrationFormDiv">
    <div class="col-sm-12 m-t-15">
      <div class="col-sm-4">
        <div class="m-l-15">
          <label>First-Name:</label><span class="mindetoryFied">*</span>
        </div>
        <div class="col-sm-12">
          <input class="form-control" formControlName="firstName">
        </div>
        <!-- <div class="errorMs"
          *ngIf="formgroup.controls.firstName.invalid && (formgroup.controls.firstName.dirty || formgroup.controls.firstName.touched)">
          Name is required
        </div> -->
      </div>
      <div class="col-sm-4">
        <div class="m-l-15">
          <label>Last-Name:</label><span class="mindetoryFied">*</span>
        </div>
        <div class="col-sm-12">
          <input class="form-control" formControlName="lastName">
        </div>
        <!-- <div class="errorMs"
          *ngIf="formgroup.controls.lastName.invalid && (formgroup.controls.lastName.dirty || formgroup.controls.lastName.touched)">
          LastName is required
        </div> -->
      </div>
      <div class="col-sm-4">
        <div class="m-l-15">
          <label>Email-Id:</label><span class="mindetoryFied">*</span>
        </div>
        <div class="col-sm-12">
          <input class="form-control" formControlName="emailId">
        </div>
        <!-- <div class="errorMs"
          *ngIf="formgroup.controls.emailId.invalid && (formgroup.controls.emailId.dirty || formgroup.controls.emailId.touched)">
          Email-Id is required
        </div> -->
      </div>
    </div>
    <div class="col-sm-12 m-t-15">
      <div class="col-sm-4">
        <div class="m-l-15">
          <label>Father-Name:</label><span class="mindetoryFied">*</span>
        </div>
        <div class="col-sm-12">
          <input class="form-control" formControlName="fatherName">
        </div>
        <!-- <div class="errorMs"
          *ngIf="formgroup.controls.fatherName.invalid && (formgroup.controls.fatherName.dirty || formgroup.controls.fatherName.touched)">
          Father-Name is required
        </div> -->
  
      </div>
      <div class="col-sm-4">
        <div class="m-l-15">
          <label>Mother-Name:</label><span class="mindetoryFied">*</span>
        </div>
        <div class="col-sm-12">
          <input class="form-control" formControlName="motherName">
        </div>
        <!-- <div class="errorMs"
          *ngIf="formgroup.controls.motherName.invalid && (formgroup.controls.motherName.dirty || formgroup.controls.motherName.touched)">
          MotherName is required
        </div> -->
      </div>
      <div class="col-sm-4">
        <div class="m-l-15">
          <label>Mobile:</label><span class="mindetoryFied">*</span>
        </div>
        <div class="col-sm-12">
          <input class="form-control" formControlName="mobileNumber">
        </div>
        <!-- <div class="errorMs"
          *ngIf="formgroup.controls.mobileNumber.invalid && (formgroup.controls.mobileNumber.dirty || formgroup.controls.mobileNumber.touched)">
          MobileNumber is required
        </div> -->
      </div>
    </div>
    <div class="col-sm-12 m-t-15">
      <div class="col-sm-4">
        <div class="m-l-15">
          <label>Date Of Birth:</label><span class="mindetoryFied">*</span>
        </div>
        <div class="col-sm-12">
          <input type="date" class="form-control" formControlName="dateOfBirth">
        </div>
        <!-- <div class="errorMs"
          *ngIf="formgroup.controls.dateOfBirth.invalid && (formgroup.controls.dateOfBirth.dirty || formgroup.controls.dateOfBirth.touched)">
          DateOfBirth is required
        </div> -->
      </div>
      <div class="col-sm-4">
        <div class="m-l-15">
          <label>Current Class(Std):</label><span class="mindetoryFied">*</span>
        </div>
        <div class="col-sm-12">
          <input class="form-control" formControlName="currentClass">
        </div>
        <!-- <div class="errorMs"
          *ngIf="formgroup.controls.currentClass.invalid && (formgroup.controls.currentClass.dirty || formgroup.controls.currentClass.touched)">
          CurrentClass is required
        </div> -->
      </div>
      <div class="col-sm-4">
        <div class="m-l-15">
          <label>Date:</label><span class="mindetoryFied">*</span>
        </div>
        <div class="col-sm-12">
          <input class="form-control" formControlName="date">
        </div>
        <!-- <div class="errorMs"
          *ngIf="formgroup.controls.date.invalid && (formgroup.controls.date.dirty || formgroup.controls.date.touched)">
          CurrentClass is required
        </div> -->
      </div>
  
  
    </div>
  
  
    <div class="col-sm-12 m-t-15">
      <div class="col-sm-4">
        <div class="m-l-15">
          <label>Courses:</label><span class="mindetoryFied">*</span>
        </div>
        <div class="col-sm-12">
          <select id="cars" class="form-control" formControlName="course">
            <option value="1">BSEB (Foundation All)</option>
            <option value="2">SAMARTH (Pre Foundation) Math & Science</option>
            <option value="3">SAMARTH (Pre Foundation) Sst & English</option>
            <option value="4">SAMARTH (Pre Foundation) Advance</option>
            <option value="5">SAFALYA (Foundation) Math & Science</option>
            <option value="6">SAFALYA (Foundation) Sst & English</option>
            <option value="7">SAFALYA (Foundation) Advance</option>
            <option value="8">SANKALP Physics</option>
            <option value="9">SANKALP Maths</option>
            <option value="10">SANKALP Chemistry</option>
            <option value="11">SANKALP Biology</option>
            <option value="12">SANKALP PCM(Advance)</option>
            <option value="13">SANKALP PCB(Advance)</option>
  
            <!-- <option value="audi"></option> -->
          </select> </div>
        <!-- <div class="errorMs"
          *ngIf="formgroup.controls.course.invalid && (formgroup.controls.course.dirty || formgroup.controls.course.touched)">
          Course is required
        </div> -->
      </div>
  
      <div class="col-sm-4">
        <div class="m-l-15">
          <label>Course Fee:</label><span class="mindetoryFied">*</span>
        </div>
        <div class="col-sm-12">
          <select id="cars" class="form-control" formControlName="courseFee">
  
            <option value="1">8000 INR</option>
            <option value="2">10000 INR</option>
            <option value="3">11000 INR</option>
            <option value="4">12000 INR</option>
            <option value="5">15000 INR</option>
            <option value="6">18000 INR</option>
  
            <option value="7">25000 INR</option>
  
          </select> </div>
        <!-- <div class="errorMs"
          *ngIf="formgroup.controls.courseFee.invalid && (formgroup.controls.courseFee.dirty || formgroup.controls.courseFee.touched)">
          Course Fee is required
        </div> -->
      </div>
      <div class="col-sm-4">
        <div class="m-l-15">
          <label>Payment Mode:</label><span class="mindetoryFied">*</span>
        </div>
        <div class="col-sm-12">
          <select id="cars" class="form-control" formControlName="payMode">
            <option value="1">Cash</option>
            <option value="2">Credit Card</option>
            <option value="3">Debit Card</option>
            <option value="4">Internet Banking</option>
          </select> </div>
        <!-- <div class="errorMs"
          *ngIf="formgroup.controls.payMode.invalid && (formgroup.controls.payMode.dirty || formgroup.controls.payMode.touched)">
          Payment Mode is required
        </div> -->
      </div>
    </div>
  
    <div class="col-sm-12 m-t-15">
      <div class="col-sm-4">
        <div class="m-l-15">
          <label>Paying:</label><span class="mindetoryFied">*</span>
        </div>
        <div class="col-sm-12">
          <input class="form-control" formControlName="pay">
        </div>
        <!-- <div class="errorMs"
          *ngIf="formgroup.controls.pay.invalid && (formgroup.controls.pay.dirty || formgroup.controls.pay.touched)">
          Paying is required
        </div> -->
  
      </div>
  
      <div class="col-sm-4">
        <div class="m-l-15">
          <label>Due Fee:</label><span class="mindetoryFied">*</span>
        </div>
        <div class="col-sm-12">
          <input class="form-control" formControlName="dueFee">
        </div>
          <!-- <div class="errorMs"
            *ngIf="formgroup.controls.dueFee.invalid && (formgroup.controls.dueFee.dirty || formgroup.controls.dueFee.touched)">
            Due Fee is required
          </div> -->
  
      </div>
      <div class="col-sm-4">
        <div class="m-l-15">
          <label>Month:</label><span class="mindetoryFied">*</span>
        </div>
        <div class="col-sm-12">
          <select id="cars" class="form-control" formControlName="month">
            <option value="1">January</option>
            <option value="2">Februay</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>
        </div>
        <!-- <div class="errorMs"
          *ngIf="formgroup.controls.month.invalid && (formgroup.controls.month.dirty || formgroup.controls.month.touched)">
          Month is required
        </div> -->
  
      </div>
    </div>
  
    <div class="col-sm-12 m-t-15">
      <div class="col-sm-4">
        <div class="m-l-15">
          <label>Correspondence Address:</label><span class="mindetoryFied">*</span>
        </div>
        <div class="col-sm-12">
          <textarea class="form-control" formControlName="cAddress"></textarea>
        </div>
        <!-- <div class="errorMs"
          *ngIf="formgroup.controls.cAddress.invalid && (formgroup.controls.cAddress.dirty || formgroup.controls.cAddress.touched)">
          Address is required
        </div> -->
      </div>
      <div class="col-sm-4">
        <div class="m-l-15">
          <label>Permanent Address:</label><span class="mindetoryFied">*</span>
        </div>
        <div class="col-sm-12">
          <textarea class="form-control" formControlName="pAddress"></textarea>
        </div>
        <!-- <div class="errorMs"
          *ngIf="formgroup.controls.pAddress.invalid && (formgroup.controls.pAddress.dirty || formgroup.controls.pAddress.touched)">
          Address is required
        </div> -->
      </div>
      <div class="col-sm-4">
        <div class="m-l-15">
          <label>Gender:</label><span class="mindetoryFied">*</span>
        </div>
        <div class="col-sm-12">
          <select id="cars" class="form-control" formControlName="gender">
            <option value="1">Male</option>
            <option value="2">Female</option>
            <option value="3">Others</option>
  
          </select>
        </div>
        <!-- <div class="errorMs"
          *ngIf="formgroup.controls.gender.invalid && (formgroup.controls.gender.dirty || formgroup.controls.gender.touched)">
          Gender is required
        </div> -->
      </div>
    </div>
   </div>
  
    <div class="col-sm-12 xyz" style="margin-top: 10px">
      <!-- <div class="col-sm-5">
          <div class="col-sm-4">
              <div class="col-sm-12 imgArea">
                  <img [src]="localUrl" *ngIf="localUrl" class="imgPlaceholder" height="100%" width="110%">
              </div>
              <div>
                 <input type="file" (change)="showPreviewImage($event)">
                 
                   </div>
               
            </div>
      </div> -->
      <div class="col-sm-4">
  
      </div>
      <div class="col-sm-3">
        <div class="col-sm-4">
          <button class="btn btn-primary">Register</button>
  
        </div>
        <div class="col-sm-4">
          <button class="btn btn-primary">Cancel</button>
        </div>
        <div class="col-sm-4">
          <button class="btn btn-primary" id="printBtn" disabled="false"
            style="width: 130%">Print</button>
        </div>
      </div>
    </div>
  <!-- </div> -->
  <div class="confirmMessage" id="confirmDialog">
    <!-- <app-confirmmessage></app-confirmmessage> -->
  </div>
  <div>
    <div class="printForm" *ngIf="isPrint">
      <div class="col-sm-12" style="border-bottom: 1px solid #8888">
        <div class="col-sm-1">
          <img src="/assets/img/elite.jpg" height="78px" width="115px" title="Elite Academy">
  
        </div>
        <div class="col-sm-8" style="text-align: center;font-size: 30px;color:red"><b><u>Elite Academy Patna</u></b>
        </div>
        <div class="col-sm-3" style="margin-top: 15px">
          <div class="col-sm-4"></div>
          <div class="col-sm-2">Date:-</div>
          <!-- <div class="col-sm-6">{{sDate}}</div> -->
        </div>
      </div>
      <div class="col-sm-12 m-t-15">
        <div class="col-sm-4">
          <div class="col-sm-6"><label>First-Name:-</label></div>
          <!-- <div class="col-sm-6">{{objData.firstName}}</div> -->
        </div>
        <div class="col-sm-4">
          <div class="col-sm-6"><label>Last-Name:-</label></div>
          <!-- <div class="col-sm-6">{{objData.lastName}}</div> -->
        </div>
        <div class="col-sm-4">
          <div class="col-sm-6"><label>Email-Id:-</label></div>
          <!-- <div class="col-sm-6">{{objData.emailId}}</div> -->
        </div>
      </div>
      <div class="col-sm-12 m-t-40">
        <div class="col-sm-4">
          <div class="col-sm-6"><label>Father-Name:-</label></div>
          <!-- <div class="col-sm-6">{{objData.fatherName}}</div> -->
        </div>
        <div class="col-sm-4">
          <div class="col-sm-6"><label>Mother-Name:-</label></div>
          <!-- <div class="col-sm-6">{{objData.motherName}}</div> -->
        </div>
        <div class="col-sm-4">
          <div class="col-sm-6"><label>Mobile:-</label></div>
          <!-- <div class="col-sm-6">{{objData.mobileNumber}}</div> -->
        </div>
      </div>
      <div class="col-sm-12 m-t-40">
        <div class="col-sm-4">
          <div class="col-sm-6"><label>Date Of Birth:-</label></div>
          <!-- <div class="col-sm-6">{{objData.dateOfBirth}}</div> -->
        </div>
        <div class="col-sm-4">
          <div class="col-sm-6"><label>Current Class(Std):-</label></div>
          <!-- <div class="col-sm-6">{{objData.currentClass}}</div> -->
        </div>
        <div class="col-sm-4">
          <div class="col-sm-6"><label>Date:-</label></div>
          <!-- <div class="col-sm-6">{{objData.date}}</div> -->
        </div>
      </div>
      <div class="col-sm-12 m-t-40">
        <div class="col-sm-4">
          <div class="col-sm-6"><label>Courses:-</label></div>
          <!-- <div class="col-sm-6" *ngIf="objData.course==1">Foundation</div> -->
        </div>
        <div class="col-sm-4">
          <div class="col-sm-6"><label>Course Fee:-</label></div>
          <!-- <div class="col-sm-6" *ngIf="objData.courseFee==1">2000</div> -->
          <!-- <div class="col-sm-6" *ngIf="objData.courseFee==2">6000</div> -->
          <!-- <div class="col-sm-6" *ngIf="objData.courseFee==3">10000</div> -->
          <!-- <div class="col-sm-6" *ngIf="objData.courseFee==4">5000</div> -->
        </div>
        <div class="col-sm-4">
          <div class="col-sm-6"><label>Payment Mode:-</label></div>
          <!-- <div class="col-sm-6" *ngIf="objData.payMode==1">Cash</div> -->
          <!-- <div class="col-sm-6" *ngIf="objData.payMode==2">Credit Card</div> -->
          <!-- <div class="col-sm-6" *ngIf="objData.payMode==3">Debit Card</div> -->
          <!-- <div class="col-sm-6" *ngIf="objData.payMode==4">Internet Banking</div> -->
        </div>
      </div>
      <div class="col-sm-12 m-t-40">
        <div class="col-sm-4">
          <div class="col-sm-6"><label>Corres.. Address:-</label></div>
          <!-- <div class="col-sm-6">{{objData.cAddress}}</div> -->
        </div>
        <div class="col-sm-4">
          <div class="col-sm-6"><label>Permanent Address:-</label></div>
          <!-- <div class="col-sm-6">{{objData.pAddress}}</div> -->
        </div>
        <div class="col-sm-4">
          <div class="col-sm-6"><label>Gender:-</label></div>
          <!-- <div class="col-sm-6" *ngIf="objData.gender==1">Male</div> -->
          <!-- <div class="col-sm-6" *ngIf="objData.gender==2">Female</div> -->
          <!-- <div class="col-sm-6" *ngIf="objData.gender==3">Others</div> -->
  
        </div>
      </div>
  
      <div class="col-sm-12 m-t-40">
        <div class="col-sm-4">
          <div class="col-sm-6"><label>Paying</label></div>
          <!-- <div class="col-sm-6">{{objData.pay}}</div> -->
        </div>
        <div class="col-sm-4">
          <div class="col-sm-6"><label>Due Fee-</label></div>
          <!-- <div class="col-sm-6">{{objData.dueFee}}</div> -->
        </div>
        <div class="col-sm-4">
          <div class="col-sm-6"><label>Month:-</label></div>
          <!-- <div class="col-sm-6" *ngIf="objData.gender==1">January</div> -->
          <!-- <div class="col-sm-6" *ngIf="objData.gender==2">February</div> -->
          <!-- <div class="col-sm-6" *ngIf="objData.gender==3">March</div> -->
          <!-- <div class="col-sm-6" *ngIf="objData.gender==4">April</div> -->
  
        </div>
      </div>
      <div class="col-sm-12">
        <div class="col-sm-4">
  
        </div>
        <div class="col-sm-4">
  
        </div>
        <div class="col-sm-4">
          <button>Back</button>
        </div>
  
      </div>
    </div>
  </div>
</form>